{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/css/auth/forgot_code.css' %}">
  <meta charset="utf-8">
  <title>Home page</title>
</head>
<body>
<div class="center_form">
<div class="logo">
    <p>Reset password</p>
</div>
<div class="under_text">
    <p>Enter the code sent to your email and creat new password</p>
</div>
<form method="post">
  {% csrf_token %}
  <div class="login-form">
    <input type="text" name="code" id="id_code" required="true" autocomplete="off" placeholder="Code" class="code">
  </div>
  <div class="login-form">
    <input type="password" name="password" id="id_password" required="true" autocomplete="off" placeholder="New password" class="password">
  </div>
<form action="{{ redirect_url }}" method="get">
  <button type="submit" class="signup">Save!</button>
</form>
{#        <button onclick="window.location.href={% url 'forgot2' %}" class="signup">Send</button>#}
{#  <button type="submit" class="signup">Send</button>#}
</form>
</div>
</body>
</html>