{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/css/auth/forgot_email.css' %}">
  <meta charset="utf-8">
  <title>Home page</title>
</head>
<body>
<div class="center_form">
<div class="logo">
    <p>Forgot password?</p>
</div>
<div class="under_text">
    <p>Enter the email address associated with your account and we will send you the password</p>
</div>
<form method="post">
  {% csrf_token %}
  <div class="login-form">
    <input type="email" name="email" id="id_email" required="true" autocomplete="off" placeholder="Email" class="email">
  </div>
    {{ form.errors }}
<form action="{{ redirect_url }}" method="get">
  <button type="submit" class="signup">Send!</button>
</form>
{#        <button onclick="window.location.href={% url 'forgot2' %}" class="signup">Send</button>#}
{#  <button type="submit" class="signup">Send</button>#}
</form>
{#<form action="{{ redirect_url }}" method="get">#}
{#  <button class="signup">Click me!</button>#}
{#</form>#}
</div>
</body>
</html>