<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home page</title>
</head>
<body>
<p>print for sure</p>
available collections:
    {% if today_phrase.is_opened %}
        {{today_phrase.is_opened}}
    {% else %}
    <form action="{{ app_path }}" method="post" id="compiment">{% csrf_token %}
      <div class="submit-row">
        <input type="submit" value="Compliment me">
      </div>
    </form>
    {% endif %}
    <button id="Collection">My collection</button>>
    <button>Share with Friends</button>>
    <script>
        document.getElementById("Collection").onclick = function () {
            location.href="/collection/"
        };
    </script>

</body>
</html>