{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'apps/css/auth/login.css' %}">
  <meta charset="utf-8">
  <title>Home page</title>
</head>
<body>
<div class="logo">
    <p>COMPLIMENT</p>
</div>
<form method="post">
  {% csrf_token %}
  <div class="login-form">
    <input type="text" name="username" id="id_name" required="true" autofocus="true" autocomplete="off" placeholder="Username" class="username">
  </div>
  <div class="login-form">
    <input type="password" name="password" id="id_password" required="true" autocomplete="off" placeholder="Password" class="password">
  </div>
<a href="{% url 'registration' %}" class="forgot-password">Forgot it?</a>
  <button type="submit" class="login">Log in</button>
</form>

{#<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}#}
{#    <div class="form-field">#}
{#        {{ form.username.errors }}#}
{#        {{ form.username }}#}
{#        {{ form.password }}#}
{#    </div>#}
{#    <input type="submit" class="login" value="Log up">#}
{#</form>#}

</body>

</html>