<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/css/auth/start page.css' %}">
  <meta charset="utf-8">
  <title>Home page</title>
</head>
<body>
<div class="logo">
    <p>COMPLIMENT</p>
</div>

<div class="buttons">
              <div class="action_btn">
    <button id="log_in" class="action_btn login">Log in</button>
    <button id="sign_up" class="action_btn signup">Sign up</button>
              <p id="saved"></p>

        </div>

</div>
    <script>
        document.getElementById("log_in").onclick = function () {
            location.href="/login/"
        };
    </script>
    <script>
        document.getElementById("sign_up").onclick = function () {
            location.href="/registration/"
        };
    </script>
{#{% endblock %}#}


</body>
</html>