{% extends 'base.html' %}
{% load i18n %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/css/auth/registration.css' %}">
{% endblock %}

{% block content %}
    <div class="center_form">
        <div class="header">
            <h1>Create account</h1>
            <p>to continue</p>
        </div>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="login-form">
                <input type="text" name="username" id="id_username" required="true" autofocus="true" autocomplete="off"
                       placeholder="Username" class="username base-input" onfocus="this.removeAttribute('readonly');">

            </div>
            <div class="login-form">
                <input type="email" name="email" id="id_email" required="true" autocomplete="off" placeholder="Email"
                       class="email base-input"  onfocus="this.removeAttribute('readonly');">
            </div>
            <div class="login-form">
                <input type="password" name="password" id="id_password" required="true" autocomplete="off"
                       placeholder="Password" class="password base-input"  onfocus="this.removeAttribute('readonly');">
            </div>
            <button type="submit" class="signup button-form">Submit</button>
        </form>
        <a href="{% url 'login' %}" class="redirect_link">log in</a>
    </div>
{% endblock %}
