.card-container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 30px;
}

.card-container .card {
  flex: 0 0 auto;
  scroll-snap-align: center;
  margin: 0 10px;
  width: 200px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}

.card-container .card.active {
  transform: scale(1.1) translateZ(50px);
}

.card-container .card.flip {
  transform: rotateY(180deg) translateZ(50px);
}

.card-container .card .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.card-container .card .front {
  z-index: 2;
}

.card-container .card .back {
  transform: rotateY(180deg);
  z-index: 1;
}

.card-container .card .flip-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* preserve the 3D context for child elements */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* hide the back face of the card */
}

.card-front {
  background-color: #c1e7ff;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card-front h2 {
  font-size: 1.4em;
  margin-top: 10px;
}

.card-front p {
  padding: 20px;
}

.card-front::after {
  content: attr(data-rarity);
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.2em;
}


.card-back {
  background-color: #ddd;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-back h2 {
  color: #666;
  font-size: 1.2em;
}

.card[data-rarity="1"] {
  box-shadow: 0px 0px 10px #fff;
}

.card[data-rarity="2"] {
  box-shadow: 0px 0px 10px #00bfff;
}

.card[data-rarity="3"] {
  box-shadow: 0px 0px 10px #00ff7f;
}

.card[data-rarity="4"] {
  box-shadow: 0px 0px 10px #a020f0;
}

.card[data-rarity="5"] {
  box-shadow: 0px 0px 10px #ffd700;
}

.card.active {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px #fff;
  z-index: 1;
  transition: all 0.5s;
}

/*.card:not(.active):hover {*/
/*  transform: scale(0.9);*/
/*  box-shadow: 0px 0px 10px #ddd;*/
/*  transition: all*/

.card.active.larger {
  transform: scale(1.1);
  box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.5);
}
